.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  background-color: var(--background);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logoIcon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke-width: 1.7;
}

.logoIconC1 {
  stroke: var(--primary);
}

.logoIconC2 {
  stroke: var(--accent);
}

.logoName {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.logoNameC1 {
  color: var(--primary);
}

.logoNameC2 {
  color: var(--accent);
}
