.container {
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
}
.ring {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border: solid 10px var(--orbital-track);
  border-radius: 50%;
}
.point {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 50%;
  transform-origin: center bottom;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--accent-blue);
  }
  /* &:hover::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  } */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: var(--background);
    border: solid 1px var(--foreground);
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-50%, calc(-50% + 5px)) scale(0);
    opacity: 0;
    transition: transform 0.2s ease;
  }
  &:hover::before {
    transform: translate(-50%, calc(-50% + 5px)) scale(1);
    opacity: 0.15;
  }
}
.thumb {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 50%;
  transform-origin: center bottom;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--accent-blue);
    border-radius: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease;
  }
  &:hover::after {
    transform: translateX(-50%) scale(1.5);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background-color: var(--background);
    border: solid 1px var(--foreground);
    border-radius: 50%;
    transform: translate(-50%, calc(-50% + 5px));
    opacity: 50%;
  }
}
.arc {
  fill: none;
  position: absolute;
  inset: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  overflow: visible;
  pointer-events: none;
  transform: rotate(-90deg);

  circle {
    stroke: var(--accent-blue);
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 360 360;
    transition:
      stroke-dashoffset 0.2s ease,
      opacity 0.2s ease;
  }
}
