.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.trigger {
  width: 100%;
  height: 32px;
  padding: 0 8px 0 10px;
  font-family: inherit;
  font-size: 14px;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  user-select: none;
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    border-color: var(--muted-foreground);
  }
}

.triggerArrow {
  width: 16px;
  height: 16px;
  color: var(--muted-foreground);
  transition: transform 0.2s;
}
.wrapper[data-state="open"] .triggerArrow {
  transform: rotate(180deg);
}
.content {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 282px;
  overflow-y: auto;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 50;
  box-sizing: border-box;
  padding: 4px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
  }
}

.wrapper[data-state="closed"] .content {
  display: none;
}
.groupLabel {
  font-size: 12px;
  font-weight: 500;
  color: var(--muted-foreground);
  padding: 8px 10px;
  user-select: none;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 10px;
  color: var(--foreground);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background: transparent;

  &:hover {
    background-color: var(--secondary);
  }
}
.itemLeft {
  font-size: 14px;
  font-weight: 400;
}
.itemAddon {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    font-size: 12px;
    color: var(--muted-foreground);
  }

  svg {
    font-size: 14px;
  }

  b {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
.itemRightContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.itemRight {
  font-size: 14px;
  color: var(--muted-foreground);
}
.itemCheck {
  width: 16px;
  height: 16px;
  color: var(--foreground);
  flex-shrink: 0;
}
