.tools {
  padding: 6px 2px 2px 0;
  display: flex;
  gap: 4px;
}

.toolsContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.toolsLock {
  width: 12px;
  height: 12px;
  color: var(--muted-foreground);
}

.sliderCintainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 8px 8px 8px 16px;
}

.slider {
  flex: 1;
}

.value {
  text-align: right;
  font-size: 14px;
  font-family: var(--font-mono);
  min-width: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  background: var(--color-white-fade);
  border: solid 1px var(--border);
  border-radius: 4px;

  & > div:first-child {
    padding: 6px 6px;
    color: var(--accent-blue);
    text-align: right;
    flex: 1;
  }
  & > div:last-child {
    padding: 6px 4px;
    border-left: solid 1px var(--border);
  }
}
