.tooltip {
  position: relative;
}

.container {
  display: flex;
  gap: 0;
}

.container[data-orientation="vertical"] {
  flex-direction: column;
}

.container [data-tooltip] {
  pointer-events: auto;
}

.popup {
  position: absolute;
  top: var(--tooltip-y, 0px);
  left: var(--tooltip-x, 0px);
  transform: translate(-50%, -100%);
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 4px;
  font-size: 14px;
  z-index: 999;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    left 0.2s,
    top 0.2s,
    opacity 0.2s;
  opacity: var(--tooltip-opacity, 0);
  visibility: var(--tooltip-visibility, hidden);
  overflow: hidden;
  width: var(--tooltip-item-w, 160px);
  height: var(--tooltip-item-h, 32px);
}

.popup[data-orientation="vertical"] {
  transform: translate(0, -50%);
}

.track {
  display: flex;
  height: 100%;
  width: auto;
  transition: transform 0.4s;
  transform: translateX(
    calc(-1 * var(--tooltip-index, 0) * var(--tooltip-item-w, 160px))
  );

  &[data-orientation="vertical"] {
    flex-direction: column;
    height: auto;
    width: 100%;
    transform: translateY(
      calc(-1 * var(--tooltip-index, 0) * var(--tooltip-item-h, 32px))
    );
  }
}

.title {
  min-width: var(--tooltip-item-w, 160px);
  max-width: var(--tooltip-item-w, 160px);
  min-height: var(--tooltip-item-h, 32px);
  max-height: var(--tooltip-item-h, 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 10px;
  box-sizing: border-box;
}
