.header {
  grid-area: header;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}
.tools {
  display: flex;
  gap: 8px;
}
.history {
  display: flex;
  gap: 4px;
  align-items: center;
}
.historyText {
  color: var(--muted-foreground);
  font-size: 14px;
  font-family: var(--font-mono);
}
