.frame {
  grid-area: frame;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;

  /* background: var(--background); */

  background:
    radial-gradient(
      50% 50% at 100% 0,
      var(--background) 0% 5%,
      var(--muted) 6% 15%,
      var(--background) 16% 25%,
      var(--muted) 26% 35%,
      var(--background) 36% 45%,
      var(--muted) 46% 55%,
      var(--background) 56% 65%,
      var(--muted) 66% 75%,
      var(--background) 76% 85%,
      var(--muted) 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50% at 0 100%,
      var(--background) 0% 5%,
      var(--muted) 6% 15%,
      var(--background) 16% 25%,
      var(--muted) 26% 35%,
      var(--background) 36% 45%,
      var(--muted) 46% 55%,
      var(--background) 56% 65%,
      var(--muted) 66% 75%,
      var(--background) 76% 85%,
      var(--muted) 86% 95%,
      #0000 96%
    ),
    radial-gradient(
      50% 50%,
      var(--background) 0% 5%,
      var(--muted) 6% 15%,
      var(--background) 16% 25%,
      var(--muted) 26% 35%,
      var(--background) 36% 45%,
      var(--muted) 46% 55%,
      var(--background) 56% 65%,
      var(--muted) 66% 75%,
      var(--background) 76% 85%,
      var(--muted) 86% 95%,
      #0000 96%
    ),
    radial-gradient(
        50% 50%,
        var(--background) 0% 5%,
        var(--muted) 6% 15%,
        var(--background) 16% 25%,
        var(--muted) 26% 35%,
        var(--background) 36% 45%,
        var(--muted) 46% 55%,
        var(--background) 56% 65%,
        var(--muted) 66% 75%,
        var(--background) 76% 85%,
        var(--muted) 86% 95%,
        #0000 96%
      )
      calc(48px / 2) calc(48px / 2) var(--background);
  background-size: 48px 48px;
}
