.preview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  overflow: hidden;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.flip {
  position: absolute;
  inset: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.image {
  display: block;
  position: absolute;
  max-width: none;
  max-height: none;
  transition: all 0.2s linear;
}
