.sidebar {
  grid-area: sidebar;
  position: relative;
  width: 48px;
  background: var(--background);
  border-right: 1px solid var(--border);
  z-index: 10;
  overflow: hidden;
  transition: transform 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @media (min-width: 480px) {
    transition: none;
    box-shadow: none;
  }
}
.item {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.item svg {
  width: 16px;
  height: 16px;
}
.item.selected {
  color: var(--accent-blue);
}
.item.selected::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 2px;
  background-color: var(--accent-blue);
}
.item.selected,
.item:hover {
  background-color: var(--accent);
}
