.sidebar {
  grid-area: sidebar;
  position: relative;
  width: 48px;
  background: var(--background);
  border-right: 1px solid var(--border);
  z-index: 10;

  &.mobile {
    transform: translateX(-110%);
    transition: transform 0.2s ease-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &.open {
      transform: translateX(0%);
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.item {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  svg {
    width: 16px;
    height: 16px;
  }

  &.selected {
    color: var(--accent-blue);
    background-color: var(--accent);

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      width: 2px;
      background-color: var(--accent-blue);
    }
  }
}
.tooltip {
  --tooltip-item-w: 140px;
  --tooltip-item-h: 48px;

  background: linear-gradient(
    to right,
    var(--accent-blue) 2.5px,
    transparent 2.5px,
    transparent 48px,
    var(--background) 48px,
    var(--background) 100%
  );
  color: var(--foreground);
  border-radius: 0;
  margin-left: -52px;
}
.tooltipTitle {
  position: relative;
  justify-content: flex-start;
  padding-left: 64px;
}
